<h1>Hello User</h1>

<div class="list">
<ul>
  <%@todos.each do |todo| %>
<li>
  <input type = "checkbox">
  <a href= "/todo/show/<%= todo.id %>"> <%= todo.description %>
  </a>
  <span> pomodoros <%= todo.pomodoro_estimate %> </span>
  <a href="#" class= "delete" >Delete </a>
  </li>
  <%end%>

</ul>
</div>
<button>+ Add</button>